{{>api_info}}

defmodule {{moduleName}}.Auth.BasicAuthenticator do
  @moduledoc """
  Authenticator for HTTP Basic authentication.
  """

  use {{moduleName}}.Auth.BaseAuthenticator

  @type t :: %__MODULE__{
          host: String.t(),
          auth_header: String.t()
        }

  defstruct [:host, :auth_header]

  @doc """
  Create a new Basic authenticator.

  ## Parameters

    * `host` - API base URL.
    * `username` - The username.
    * `password` - The password.

  """
  @spec new(String.t(), String.t(), String.t()) :: t()
  def new(host, username, password) do
    encoded = Base.encode64("#{username}:#{password}")

    %__MODULE__{
      host: host,
      auth_header: "Basic #{encoded}"
    }
  end

  @impl true
  def host(%__MODULE__{} = self), do: self.host

  @impl true
  def auth_headers(%__MODULE__{} = self) do
    %{"Authorization" => self.auth_header}
  end
end
