{{>api_info}}

package {{invokerPackage}}.errors

/**
 * Exception for HTTP 404 Not Found.
 */
class NotFoundException(
    message: String,
    responseHeaders: Map<String, String>?,
    responseBody: String?,
    errorBody: Any? = null
) : ClientException(404, message, responseHeaders, responseBody, errorBody)
