{{>api_info}}

#pragma warning disable CS1591 // Missing XML comment for publicly visible type or member

namespace {{packageName}};

/// <summary>
/// Represents an HTTP API response.
/// </summary>
public class ApiResponse(int statusCode, string body, Dictionary<string, string> headers)
{
    public int StatusCode { get; } = statusCode;
    public string Body { get; } = body;
    public Dictionary<string, string> Headers { get; } = headers;
}
