{{>api_info}}

package {{package}};

import {{invokerPackage}}.ApiClient;
import {{invokerPackage}}.ApiException;
import {{invokerPackage}}.ApiResult;
import {{invokerPackage}}.Configuration;
import {{invokerPackage}}.ValueSerializer;
import {{invokerPackage}}.auth.Authenticator;
{{#operations}}
{{#operation}}
{{#hasAuthMethods}}
{{#authMethods}}
{{#isOAuth}}
import {{invokerPackage}}.auth.oauth.{{vendorExtensions.authenticatorClassName}};
{{/isOAuth}}
{{#isOpenId}}
import {{invokerPackage}}.auth.oauth.{{vendorExtensions.namePascal}}Authenticator;
{{/isOpenId}}
{{^isOAuth}}
{{^isOpenId}}
import {{invokerPackage}}.auth.{{vendorExtensions.namePascal}}Authenticator;
{{/isOpenId}}
{{/isOAuth}}
{{/authMethods}}
{{/hasAuthMethods}}
{{/operation}}
{{/operations}}
{{#models.0}}
import {{modelPackage}}.*;
{{/models.0}}
{{#imports}}import {{import}};
{{/imports}}
{{#optionsImports}}
import {{package}}.options.{{optionsClassName}};
{{/optionsImports}}
import com.fasterxml.jackson.core.type.TypeReference;
import edu.umd.cs.findbugs.annotations.SuppressFBWarnings;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.annotation.Nullable;

{{#operations}}
/**
 * {{classname}} provides methods for the {{baseName}} API group.
{{#tagDescription}}
 * {{.}}
{{/tagDescription}}
{{#tagExternalDocs}}
 * @see <a href="{{url}}">{{description}}</a>
{{/tagExternalDocs}}
 */
@SuppressWarnings("deprecation")
public class {{classname}} extends BaseApi {
{{#operation}}
{{#returnType}}

    private static final TypeReference<{{{returnType}}}> {{operationId}}TypeRef =
            new TypeReference<>() {};
{{/returnType}}
{{/operation}}

{{#serverTypeDefs}}

    /**
     * Server type for the {{operationId}} operation.
     */
    public sealed interface {{serverTypeName}} {
        String getUrl();
{{#variants}}
{{#serverVariables}}
{{#hasEnumValues}}

        enum {{pascalName}} {
{{#enumValues}}
            {{name}}("{{value}}"){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumValues}}

            private final String value;

            {{pascalName}}(String value) {
                this.value = value;
            }

            public String getValue() {
                return value;
            }
        }
{{/hasEnumValues}}
{{/serverVariables}}
{{/variants}}
{{#variants}}

{{#hasDescription}}
        /** {{description}} */
{{/hasDescription}}
        record {{variantName}}({{#serverVariables}}{{#hasEnumValues}}{{pascalName}}{{/hasEnumValues}}{{^hasEnumValues}}String{{/hasEnumValues}} {{camelName}}{{^-last}}, {{/-last}}{{/serverVariables}}) implements {{serverTypeName}} {

            @Override
            public String getUrl() {
                String url = "{{url}}";
{{#serverVariables}}
                url = url.replace("{" + "{{name}}" + "}", {{#hasEnumValues}}{{camelName}}.getValue(){{/hasEnumValues}}{{^hasEnumValues}}{{camelName}}{{/hasEnumValues}});
{{/serverVariables}}
                return url;
            }
        }
{{/variants}}
    }
{{/serverTypeDefs}}

    public {{classname}}() {
        super();
    }

    public {{classname}}(ApiClient apiClient, Configuration config) {
        super(apiClient, config);
    }

    public {{classname}}(ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
        super(apiClient, config, authenticator);
    }
    {{#operation}}

    /**
     * {{summary}}
{{#notes}}
     * {{.}}
{{/notes}}
{{#pathParams}}
     * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}{{/isContainer}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
{{#vendorExtensions.pluralExamples}}
     * <p>Example — {{summary}}: {@code {{value}}}
{{/vendorExtensions.pluralExamples}}
{{/pathParams}}
{{#bodyParam}}
     * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
{{#vendorExtensions.pluralExamples}}
     * <p>Example — {{summary}}: {@code {{value}}}
{{/vendorExtensions.pluralExamples}}
{{/bodyParam}}
{{#queryParams}}{{#-first}}
     * @param options options for query, header, form, and cookie parameters
{{/-first}}{{/queryParams}}{{^queryParams}}{{#headerParams}}{{#-first}}
     * @param options options for query, header, form, and cookie parameters
{{/-first}}{{/headerParams}}{{^headerParams}}{{#formParams}}{{#-first}}
     * @param options options for query, header, form, and cookie parameters
{{/-first}}{{/formParams}}{{^formParams}}{{#cookieParams}}{{#-first}}
     * @param options options for query, header, form, and cookie parameters
{{/-first}}{{/cookieParams}}{{/formParams}}{{/headerParams}}{{/queryParams}}
{{#returnType}}
     * @return {{{returnType}}}
{{/returnType}}
     * @throws ApiException if fails to make API call
{{#isDeprecated}}
     * @deprecated This operation is deprecated.
{{/isDeprecated}}
{{#externalDocs}}
     * {{description}}
     * @see <a href="{{url}}">{{summary}} Documentation</a>
{{/externalDocs}}
     */
{{#isDeprecated}}
    @Deprecated
    @SuppressWarnings("InlineMeSuggester")
{{/isDeprecated}}
{{#hasAuthMethods}}
    {{#authMethods}}
{{#returnType}}
    @Nullable
{{/returnType}}
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{vendorExtensions.authenticatorClassName}} auth{{#vendorExtensions.op.signatureArgs}}, {{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgs}}) throws ApiException {
        {{#returnType}}return {{operationId}}WithHttpInfo(auth{{#vendorExtensions.op.signatureArgs}}, {{paramName}}{{/vendorExtensions.op.signatureArgs}}).data();{{/returnType}}{{^returnType}}{{operationId}}WithHttpInfo(auth{{#vendorExtensions.op.signatureArgs}}, {{paramName}}{{/vendorExtensions.op.signatureArgs}});{{/returnType}}
    }

    public ApiResult<{{{returnType}}}{{^returnType}}Void{{/returnType}}> {{operationId}}WithHttpInfo({{vendorExtensions.authenticatorClassName}} auth{{#vendorExtensions.op.signatureArgs}}, {{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgs}}) throws ApiException {
        return {{operationId}}Internal(auth{{#vendorExtensions.op.signatureArgs}}, {{paramName}}{{/vendorExtensions.op.signatureArgs}});
    }

{{#servers}}{{#-first}}
{{#returnType}}
    @Nullable
{{/returnType}}
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{vendorExtensions.authenticatorClassName}} auth{{#vendorExtensions.op.signatureArgsNoServer}}, {{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}) throws ApiException {
        {{#returnType}}return {{operationId}}(auth{{#vendorExtensions.op.signatureArgsNoServer}}, {{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}, null);{{/returnType}}{{^returnType}}{{operationId}}(auth{{#vendorExtensions.op.signatureArgsNoServer}}, {{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}, null);{{/returnType}}
    }

    public ApiResult<{{{returnType}}}{{^returnType}}Void{{/returnType}}> {{operationId}}WithHttpInfo({{vendorExtensions.authenticatorClassName}} auth{{#vendorExtensions.op.signatureArgsNoServer}}, {{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}) throws ApiException {
        return {{operationId}}WithHttpInfo(auth{{#vendorExtensions.op.signatureArgsNoServer}}, {{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}, null);
    }
{{/-first}}{{/servers}}
    {{/authMethods}}
    private ApiResult<{{{returnType}}}{{^returnType}}Void{{/returnType}}> {{operationId}}Internal(Authenticator auth{{#vendorExtensions.op.signatureArgs}}, {{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgs}}) throws ApiException {
{{/hasAuthMethods}}
{{^hasAuthMethods}}
{{#servers}}{{#-first}}
{{#returnType}}
    @Nullable
{{/returnType}}
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#vendorExtensions.op.signatureArgsNoServer}}{{^-first}}, {{/-first}}{{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}) throws ApiException {
        {{#returnType}}return {{operationId}}({{#vendorExtensions.op.signatureArgsNoServer}}{{^-first}}, {{/-first}}{{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}, null);{{/returnType}}{{^returnType}}{{operationId}}({{#vendorExtensions.op.signatureArgsNoServer}}{{^-first}}, {{/-first}}{{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}, null);{{/returnType}}
    }

    public ApiResult<{{{returnType}}}{{^returnType}}Void{{/returnType}}> {{operationId}}WithHttpInfo({{#vendorExtensions.op.signatureArgsNoServer}}{{^-first}}, {{/-first}}{{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}) throws ApiException {
        return {{operationId}}WithHttpInfo({{#vendorExtensions.op.signatureArgsNoServer}}{{^-first}}, {{/-first}}{{paramName}}{{/vendorExtensions.op.signatureArgsNoServer}}, null);
    }
{{/-first}}{{/servers}}
{{#returnType}}
    @Nullable
{{/returnType}}
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#vendorExtensions.op.signatureArgs}}{{^-first}}, {{/-first}}{{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgs}}) throws ApiException {
        {{#returnType}}return {{operationId}}WithHttpInfo({{#vendorExtensions.op.signatureArgs}}{{^-first}}, {{/-first}}{{paramName}}{{/vendorExtensions.op.signatureArgs}}).data();{{/returnType}}{{^returnType}}{{operationId}}WithHttpInfo({{#vendorExtensions.op.signatureArgs}}{{^-first}}, {{/-first}}{{paramName}}{{/vendorExtensions.op.signatureArgs}});{{/returnType}}
    }

    public ApiResult<{{{returnType}}}{{^returnType}}Void{{/returnType}}> {{operationId}}WithHttpInfo({{#vendorExtensions.op.signatureArgs}}{{^-first}}, {{/-first}}{{#nullable}}@Nullable {{/nullable}}{{{dataType}}} {{paramName}}{{/vendorExtensions.op.signatureArgs}}) throws ApiException {
{{/hasAuthMethods}}
{{#pathParams}}
{{#required}}
        if ({{paramName}} == null) {
            throw new IllegalArgumentException(
                    "Missing the required parameter '{{paramName}}' when calling {{operationId}}");
        }
{{/required}}
{{/pathParams}}
{{#bodyParam}}
{{#required}}
        if ({{paramName}} == null) {
            throw new IllegalArgumentException(
                    "Missing the required parameter '{{paramName}}' when calling {{operationId}}");
        }
{{/required}}
{{/bodyParam}}
        String path{{^pathParams}} = "{{{path}}}";{{/pathParams}}{{#pathParams}}{{#-first}} =
                "{{{path}}}"{{/-first}}
                        .replace(
                                "{" + "{{baseName}}" + "}",
                                (String) ValueSerializer.serializeStyled("{{baseName}}", {{{paramName}}}, "path", "{{{dataType}}}", null, "{{style}}", {{isExplode}})){{/pathParams}}{{#pathParams}}{{#-last}};{{/-last}}{{/pathParams}}
{{#servers}}
{{#-first}}
        if (server != null) {
            String serverUrl = server.getUrl();
            if (serverUrl.startsWith("http://") || serverUrl.startsWith("https://")) {
                path = serverUrl + path;
            }
        }
{{/-first}}
{{/servers}}
        Map<String, Object> queryParams = new HashMap<>();
{{#queryParams}}
{{#vendorExtensions.param.queryDeepObject}}
        if (options.{{paramName}}() != null) {
            queryParams.putAll(ValueSerializer.serializeDeepObject("{{baseName}}", options.{{paramName}}()));
        }
{{/vendorExtensions.param.queryDeepObject}}
{{#vendorExtensions.param.queryContent}}
        if (options.{{paramName}}() != null) {
            queryParams.put("{{baseName}}", objectSerializer.serialize(options.{{paramName}}()));
        }
{{/vendorExtensions.param.queryContent}}
{{#vendorExtensions.param.queryStyledAllowEmpty}}
        if (options.{{paramName}}() != null) {
            queryParams.put("{{baseName}}", ValueSerializer.serializeStyled("{{baseName}}", options.{{paramName}}(), "query", "{{{dataType}}}", {{#collectionFormat}}"{{collectionFormat}}"{{/collectionFormat}}{{^collectionFormat}}null{{/collectionFormat}}, "{{style}}", {{isExplode}}));
        } else {
            queryParams.put("{{baseName}}", "");
        }
{{/vendorExtensions.param.queryStyledAllowEmpty}}
{{#vendorExtensions.param.queryStyled}}
        if (options.{{paramName}}() != null) {
            queryParams.put("{{baseName}}", ValueSerializer.serializeStyled("{{baseName}}", options.{{paramName}}(), "query", "{{{dataType}}}", {{#collectionFormat}}"{{collectionFormat}}"{{/collectionFormat}}{{^collectionFormat}}null{{/collectionFormat}}, "{{style}}", {{isExplode}}));
        }
{{/vendorExtensions.param.queryStyled}}
{{/queryParams}}
        Map<String, String> headerParams = new HashMap<>();
{{#headerParams}}
        if (options.{{paramName}}() != null) {
            headerParams.put(
                    "{{baseName}}", (String) ValueSerializer.serializeStyled("{{baseName}}", options.{{paramName}}(), "header", "{{{dataType}}}", null, "{{style}}", {{isExplode}}));
        }
{{/headerParams}}
{{#hasCookieParams}}
        java.util.StringJoiner cookieJoiner = new java.util.StringJoiner("; ");
{{#cookieParams}}
        if (options != null && options.{{paramName}}() != null) {
            cookieJoiner.add("{{baseName}}=" + ValueSerializer.serializeStyled("{{baseName}}", options.{{paramName}}(), "cookie", "{{{dataType}}}", null, "{{style}}", {{isExplode}}));
        }
{{/cookieParams}}
        if (cookieJoiner.length() > 0) {
            headerParams.put("Cookie", cookieJoiner.toString());
        }
{{/hasCookieParams}}
{{#hasFormParams}}
        Map<String, Object> formBody = new HashMap<>();
{{#formParams}}
{{#required}}
        formBody.put("{{baseName}}", options.{{paramName}}());
{{/required}}
{{^required}}
        if (options.{{paramName}}() != null) {
            formBody.put("{{baseName}}", options.{{paramName}}());
        }
{{/required}}
{{/formParams}}

{{/hasFormParams}}
        return invokeApiForResult(
                "{{httpMethod}}",
                path,
                queryParams,
                headerParams,
                {{#hasFormParams}}formBody{{/hasFormParams}}{{^hasFormParams}}{{#bodyParam}}{{paramName}}{{/bodyParam}}{{^bodyParam}}null{{/bodyParam}}{{/hasFormParams}},
                new String[] { {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}}},
                "{{vendorExtensions.op.effectiveConsumes}}",
                {{#returnType}}{{operationId}}TypeRef{{/returnType}}{{^returnType}}null{{/returnType}},
                {{#hasAuthMethods}}auth{{/hasAuthMethods}}{{^hasAuthMethods}}null{{/hasAuthMethods}});
    }
    {{/operation}}
}
{{/operations}}
