{{>api_info}}
import 'client_exception.dart';

/// Exception for HTTP 400 Bad Request.
class BadRequestException extends ClientException {
  const BadRequestException({
    required super.statusCode,
    required super.message,
    super.responseBody,
    super.responseHeaders,
    super.errorBody,
  });
}
