{{>api_info}}
import 'api_error.dart';

/// ClientError represents an HTTP 4xx client error.
class ClientError extends ApiError {
  const ClientError({
    required super.code,
    required super.message,
    super.responseBody,
    super.responseHeaders,
    super.errorBody,
  });
}
