{{>api_info}}
import 'client_error.dart';

/// ConflictError represents an HTTP 409 Conflict error.
class ConflictError extends ClientError {
  const ConflictError({
    required super.code,
    required super.message,
    super.responseBody,
    super.responseHeaders,
    super.errorBody,
  });
}
