# frozen_string_literal: true

{{> api_info}}
{{{moduleNameNestedOpen}}}{{moduleNameNestedIndent}}class {{apiErrorParentSimpleName}} < StandardError
{{moduleNameNestedIndent}}end
{{{moduleNameNestedClose}}}
