# frozen_string_literal: true

{{>api_info}}

module {{moduleName}}
  # Generated server configurations from the OpenAPI specification.
  #
  # Each constant corresponds to a server entry defined in the spec's
  # +servers+ array. Use these constants with
  # {Configuration::Builder#base_url} to select a server:
  #
  #     config = {{moduleName}}::Configuration.builder
  #       .base_url({{moduleName}}::Servers::SERVER_0.url)
  #       .build
  #
  # For servers with variables, pass overrides:
  #
  #     url = {{moduleName}}::Servers::SERVER_1.url('environment' => 'staging')
  module Servers
{{#serverConfigs}}
    # Server {{serverIndex}}: {{serverUrl}}{{#serverDescription}}
    #
    # {{serverDescription}}{{/serverDescription}}
    SERVER_{{serverIndex}} = ServerConfiguration.new(
      url_template: '{{{serverUrl}}}',
      description: {{#serverDescription}}'{{{serverDescription}}}'{{/serverDescription}}{{^serverDescription}}nil{{/serverDescription}},
      variables: {{#hasVariables}}{
{{#serverVariables}}        '{{{varName}}}' => ServerVariable.new(
          default_value: '{{{varDefault}}}',
          description: {{#varDescription}}'{{{varDescription}}}'{{/varDescription}}{{^varDescription}}nil{{/varDescription}},
          enum_values: {{#hasEnumValues}}%w[{{#varEnumValues}}{{{.}}}{{^-last}} {{/-last}}{{/varEnumValues}}]{{/hasEnumValues}}{{^hasEnumValues}}[]{{/hasEnumValues}}
        ){{^-last}},{{/-last}}
{{/serverVariables}}      }{{/hasVariables}}{{^hasVariables}}{}{{/hasVariables}}
    ).freeze

{{/serverConfigs}}
    # All server configurations in declaration order.
    # @return [Array<ServerConfiguration>]
    ALL = [
{{#serverConfigs}}      SERVER_{{serverIndex}}{{^-last}},{{/-last}}
{{/serverConfigs}}    ].freeze
  end
end
