{{>api_info}}

package {{invokerPackage}}.auth

/**
 * Provides API key authentication.
 */
open class ApiKeyAuthenticator(
    private val host: String,
    private val keyParamName: String,
    private val apiKey: String,
    private val location: ApiKeyLocation
) : BaseAuthenticator() {

    override fun getHost(): String = host

    override suspend fun getAuthHeaders(): Map<String, String> =
        if (location == ApiKeyLocation.HEADER) mapOf(keyParamName to apiKey) else emptyMap()

    override fun getQueryParams(): Map<String, String> =
        if (location == ApiKeyLocation.QUERY) mapOf(keyParamName to apiKey) else emptyMap()

    override fun getCookieParams(): Map<String, String> =
        if (location == ApiKeyLocation.COOKIE) mapOf(keyParamName to apiKey) else emptyMap()
}
