{{>api_info}}
@file:Suppress("detekt:all")

package {{invokerPackage}}.auth

/**
 * Base implementation of Authenticator with sensible defaults.
 */
abstract class BaseAuthenticator : Authenticator {
    abstract override fun getHost(): String
    abstract override suspend fun getAuthHeaders(): Map<String, String>
    override fun getQueryParams(): Map<String, String> = emptyMap()
    override fun getCookieParams(): Map<String, String> = emptyMap()
}
