{{>api_info}}

namespace {{apiPackage}};

{{#hasDescription}}
/**
 * {{{description}}}
 */
{{/hasDescription}}
final class {{serverTypeName}}{{variantName}} extends {{serverTypeName}}
{
{{#hasVariables}}
{{#serverVariables}}
    private readonly {{#hasEnumValues}}{{serverTypeName}}{{pascalName}}{{/hasEnumValues}}{{^hasEnumValues}}string{{/hasEnumValues}} ${{camelName}};
{{/serverVariables}}

    public function __construct(
{{#serverVariables}}
        {{#hasEnumValues}}{{serverTypeName}}{{pascalName}}{{/hasEnumValues}}{{^hasEnumValues}}string{{/hasEnumValues}} ${{camelName}},
{{/serverVariables}}
    ) {
{{#serverVariables}}
        $this->{{camelName}} = ${{camelName}};
{{/serverVariables}}
    }

{{/hasVariables}}
    public function getUrl(): string
    {
{{#hasVariables}}
        $url = '{{url}}';
{{#serverVariables}}
{{^-last}}
        $url = str_replace('{' . '{{name}}' . '}', {{#hasEnumValues}}$this->{{camelName}}->value{{/hasEnumValues}}{{^hasEnumValues}}$this->{{camelName}}{{/hasEnumValues}}, $url);
{{/-last}}
{{#-last}}
        return str_replace('{' . '{{name}}' . '}', {{#hasEnumValues}}$this->{{camelName}}->value{{/hasEnumValues}}{{^hasEnumValues}}$this->{{camelName}}{{/hasEnumValues}}, $url);
{{/-last}}
{{/serverVariables}}
{{/hasVariables}}
{{^hasVariables}}
        return '{{url}}';
{{/hasVariables}}
    }
}
