{{>api_info}}

namespace {{apiPackage}};

/**
 * Allowed values of the {{name}} server variable of {{serverTypeName}}.
 */
enum {{serverTypeName}}{{pascalName}}: string
{
{{#enumValues}}
    case {{name}} = '{{value}}';
{{/enumValues}}
}
