{{>partial_header}}
{{#models}}
{{#model}}
{{#isEnum}}
from enum import Enum


class {{classname}}(str, Enum):
    """
    {{#description}}{{{description}}}{{/description}}{{^description}}{{{classname}}}{{/description}}
    """

    {{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{value}}}
    {{/enumVars}}
    {{/allowableValues}}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}
{{#-first}}
from __future__ import annotations

from pydantic import BaseModel, ConfigDict, Field, ValidationError, field_validator
from typing import Any, ClassVar, Dict, List, Optional, Set, Union
from typing_extensions import Self


class {{classname}}({{#parent}}{{{.}}}{{/parent}}{{^parent}}BaseModel{{/parent}}):
    """
    {{{description}}}{{^description}}{{{classname}}}{{/description}}
{{#isDeprecated}}

    .. deprecated::
        This schema is deprecated.
{{/isDeprecated}}
{{#externalDocumentation}}

    .. seealso::
        `{{description}} <{{url}}>`_
{{/externalDocumentation}}
    """

{{#composedSchemas.oneOf}}
    {{name}}: Optional[{{{dataType}}}] = None
{{/composedSchemas.oneOf}}
    actual_instance: Optional[Union[{{#oneOf}}{{{.}}}{{^-last}}, {{/-last}}{{/oneOf}}]] = None
    one_of_schemas: Set[str] = { {{#oneOf}}'{{.}}'{{^-last}}, {{/-last}}{{/oneOf}} }

    model_config = ConfigDict(
        validate_assignment=True,
        protected_namespaces=(),
    )
{{#discriminator}}

    discriminator_value_class_map: Dict[str, str] = {
{{#mappedModels}}
        '{{{mappingName}}}': '{{{modelName}}}',
{{/mappedModels}}
    }
{{/discriminator}}

    def __init__(self, *args: Any, **kwargs: Any) -> None:
        if args:
            if len(args) > 1:
                raise ValueError('If a position argument is used, only 1 is allowed to set `actual_instance`')
            if kwargs:
                raise ValueError('If a position argument is used, keyword arguments cannot be used.')
            super().__init__(actual_instance=args[0])
        else:
            super().__init__(**kwargs)

    @field_validator('actual_instance')
    def actual_instance_must_validate_oneof(cls, v: Any) -> Any:
        {{#isNullable}}
        if v is None:
            return v

        {{/isNullable}}
        instance = {{{classname}}}.model_construct()
        error_messages = []
        match = 0
        {{#composedSchemas.oneOf}}
        {{#isContainer}}
        try:
            instance.{{name}} = v
            match += 1
        except (ValidationError, ValueError) as e:
            error_messages.append(str(e))
        {{/isContainer}}
        {{^isContainer}}
        {{#isPrimitiveType}}
        try:
            instance.{{name}} = v
            match += 1
        except (ValidationError, ValueError) as e:
            error_messages.append(str(e))
        {{/isPrimitiveType}}
        {{^isPrimitiveType}}
        if not isinstance(v, {{{dataType}}}):
            error_messages.append(f'Error! Input type `{type(v)}` is not `{{{dataType}}}`')
        else:
            match += 1
        {{/isPrimitiveType}}
        {{/isContainer}}
        {{/composedSchemas.oneOf}}
        if match > 1:
            raise ValueError(
                'Multiple matches found when setting `actual_instance` in {{{classname}}} with oneOf schemas: {{#oneOf}}{{{.}}}{{^-last}}, {{/-last}}{{/oneOf}}. Details: '
                + ', '.join(error_messages)
            )
        elif match == 0:
            raise ValueError(
                'No match found when setting `actual_instance` in {{{classname}}} with oneOf schemas: {{#oneOf}}{{{.}}}{{^-last}}, {{/-last}}{{/oneOf}}. Details: '
                + ', '.join(error_messages)
            )
        else:
            return v

{{/-first}}
{{/oneOf}}
{{^oneOf}}
{{#anyOf}}
{{#-first}}
from __future__ import annotations

from pydantic import BaseModel, ConfigDict, Field, field_validator
from typing import Any, ClassVar, Dict, List, Optional, Set, Union
from typing_extensions import Self


class {{classname}}({{#parent}}{{{.}}}{{/parent}}{{^parent}}BaseModel{{/parent}}):
    """
    {{{description}}}{{^description}}{{{classname}}}{{/description}}
{{#isDeprecated}}

    .. deprecated::
        This schema is deprecated.
{{/isDeprecated}}
{{#externalDocumentation}}

    .. seealso::
        `{{description}} <{{url}}>`_
{{/externalDocumentation}}
    """

    actual_instance: Optional[Union[{{#anyOf}}{{{.}}}{{^-last}}, {{/-last}}{{/anyOf}}]] = None
    any_of_schemas: Set[str] = { {{#anyOf}}'{{.}}'{{^-last}}, {{/-last}}{{/anyOf}} }

    model_config = ConfigDict(
        validate_assignment=True,
        protected_namespaces=(),
    )

    def __init__(self, *args: Any, **kwargs: Any) -> None:
        if args:
            if len(args) > 1:
                raise ValueError('If a position argument is used, only 1 is allowed to set `actual_instance`')
            if kwargs:
                raise ValueError('If a position argument is used, keyword arguments cannot be used.')
            super().__init__(actual_instance=args[0])
        else:
            super().__init__(**kwargs)

    @field_validator('actual_instance')
    def actual_instance_must_validate_anyof(cls, v: Any) -> Any:
        if v is None:
            return v
        match = 0
        {{#composedSchemas.anyOf}}
        {{^isPrimitiveType}}
        if isinstance(v, {{{dataType}}}):
            match += 1
        {{/isPrimitiveType}}
        {{#isPrimitiveType}}
        if isinstance(v, {{{dataType}}}):
            match += 1
        {{/isPrimitiveType}}
        {{/composedSchemas.anyOf}}
        if match == 0:
            raise ValueError(
                'No match found when setting `actual_instance` in {{{classname}}} with anyOf schemas: {{#anyOf}}{{{.}}}{{^-last}}, {{/-last}}{{/anyOf}}'
            )
        return v

{{/-first}}
{{/anyOf}}
{{^anyOf}}
from __future__ import annotations

from pydantic import BaseModel, ConfigDict, Field, field_validator
from typing import Any, ClassVar, Dict, List, Optional, Set, Union
from typing_extensions import Self
{{#hasEnums}}
from enum import Enum
{{/hasEnums}}
{{#hasChildren}}
{{#discriminator}}
from typing import TYPE_CHECKING
if TYPE_CHECKING:
{{#mappedModels}}
    from {{packageName}}.models.{{model.classFilename}} import {{modelName}}
{{/mappedModels}}

{{/discriminator}}
{{/hasChildren}}
{{#hasEnums}}
{{#vars}}
{{#isEnum}}


class {{classname}}{{enumName}}(str, Enum):
    """{{classname}} - {{baseName}}"""

    {{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{value}}}
    {{/enumVars}}
    {{/allowableValues}}
{{/isEnum}}
{{/vars}}
{{/hasEnums}}


class {{classname}}({{#parent}}{{{.}}}{{/parent}}{{^parent}}BaseModel{{/parent}}):
    """
    {{#description}}{{{description}}}{{/description}}{{^description}}{{{classname}}}{{/description}}
{{#isDeprecated}}

    .. deprecated::
        This schema is deprecated.
{{/isDeprecated}}
{{#externalDocumentation}}

    .. seealso::
        `{{description}} <{{url}}>`_
{{/externalDocumentation}}
    """

{{#vars}}
{{#deprecated}}
    # .. deprecated:: This property is deprecated.
{{/deprecated}}
{{#required}}
{{#isEnum}}
    {{name}}: {{classname}}{{enumName}} = Field(alias='{{{baseName}}}'{{#description}}, description="{{{.}}}"{{/description}}{{#example}}, examples=[{{{.}}}]{{/example}}{{#isReadOnly}}, json_schema_extra={"readOnly": True}{{/isReadOnly}}{{#isWriteOnly}}, json_schema_extra={"writeOnly": True}{{/isWriteOnly}}{{#defaultValue}}, default={{{.}}}{{/defaultValue}})
{{/isEnum}}
{{^isEnum}}
    {{name}}: {{{dataType}}} = Field(alias='{{{baseName}}}'{{#description}}, description="{{{.}}}"{{/description}}{{#example}}, examples=[{{{.}}}]{{/example}}{{#isReadOnly}}, json_schema_extra={"readOnly": True}{{/isReadOnly}}{{#isWriteOnly}}, json_schema_extra={"writeOnly": True}{{/isWriteOnly}}{{#defaultValue}}, default={{{.}}}{{/defaultValue}})
{{/isEnum}}
{{/required}}
{{^required}}
{{#isEnum}}
    {{name}}: Optional[{{classname}}{{enumName}}] = Field(default={{#defaultValue}}{{{.}}}{{/defaultValue}}{{^defaultValue}}None{{/defaultValue}}, alias='{{{baseName}}}'{{#description}}, description="{{{.}}}"{{/description}}{{#example}}, examples=[{{{.}}}]{{/example}}{{#isReadOnly}}, json_schema_extra={"readOnly": True}{{/isReadOnly}}{{#isWriteOnly}}, json_schema_extra={"writeOnly": True}{{/isWriteOnly}})
{{/isEnum}}
{{^isEnum}}
    {{name}}: Optional[{{{dataType}}}] = Field(default={{#defaultValue}}{{{.}}}{{/defaultValue}}{{^defaultValue}}None{{/defaultValue}}, alias='{{{baseName}}}'{{#description}}, description="{{{.}}}"{{/description}}{{#example}}, examples=[{{{.}}}]{{/example}}{{#isReadOnly}}, json_schema_extra={"readOnly": True}{{/isReadOnly}}{{#isWriteOnly}}, json_schema_extra={"writeOnly": True}{{/isWriteOnly}})
{{/isEnum}}
{{/required}}
{{/vars}}
{{#isAdditionalPropertiesTrue}}
    additional_properties: Dict[str, {{#additionalPropertiesType}}{{{additionalPropertiesType}}}{{/additionalPropertiesType}}{{^additionalPropertiesType}}Any{{/additionalPropertiesType}}] = {}
{{/isAdditionalPropertiesTrue}}
{{#vars}}
    {{#pattern}}

    @field_validator('{{{name}}}')
    def {{{name}}}_validate_regular_expression(cls, value: Any) -> Any:
        """Validates the regular expression"""
        if value is None:
            return value
        if not re.match(r"{{{pattern}}}", value):
            raise ValueError(r"must validate the regular expression {{{pattern}}}")
        return value
    {{/pattern}}
{{/vars}}

    model_config = ConfigDict(
        populate_by_name=True,
        validate_assignment=True,
        protected_namespaces=(),
    )

{{#hasChildren}}
{{#discriminator}}
    __discriminator_property_name: ClassVar[str] = '{{discriminator.propertyBaseName}}'

    __discriminator_value_class_map: ClassVar[Dict[str, str]] = {
        {{#mappedModels}}'{{{mappingName}}}': '{{{modelName}}}',{{/mappedModels}}
    }

    @classmethod
    def get_discriminator_value(cls, obj: Dict[str, Any]) -> Optional[str]:
        """Returns the discriminator value (object type) of the data"""
        discriminator_value = obj[cls.__discriminator_property_name]
        if discriminator_value:
            return cls.__discriminator_value_class_map.get(discriminator_value)
        else:
            return None

{{/discriminator}}
{{/hasChildren}}
{{/anyOf}}
{{/oneOf}}

{{#imports}}
{{{.}}}
{{/imports}}

{{classname}}.model_rebuild(raise_errors=False)
{{/isEnum}}
{{/model}}
{{/models}}
