{{>api_info}}
{{#generateTests}}
import 'dart:io';

import 'package:testcontainers_core/testcontainers_core.dart';

late String proxyUrl;
late String chasmUrl;
late String chasmHttpUrl;
late String chasmHttpsUrl;
late String chasmInternalHttpUrl;
late String chasmInternalHttpsUrl;
late String caCertPath;

late DockerContainer _squidContainer;
late DockerContainer _chasmContainer;
late Network _network;

Future<void> setUpContainers() async {
  final fixtures = Directory('${Directory.current.path}/test/fixtures');

  _network = Network();
  await _network.create();

  caCertPath = '${fixtures.path}/certs/ca.pem';

  final squidConfFile = File('${fixtures.path}/proxy/squid.conf');

  _squidContainer = DockerContainer('ubuntu/squid:5.2-22.04_beta')
      .withExposedPorts([3128])
      .withCopyIntoContainer(
        PathTransferable(squidConfFile),
        '/etc/squid/squid.conf',
        0x1A4,
      )
      .withNetwork(_network);

  await _squidContainer.start();
  await Future<void>.delayed(const Duration(seconds: 3));

  final squidHost = await _squidContainer.containerHostIp();
  final squidPort = await _squidContainer.exposedPort(3128);
  proxyUrl = 'http://$squidHost:$squidPort';

  final specFile = File('${fixtures.path}/openapi.yaml');
  final chasmCertFile = File('${fixtures.path}/certs/server.pem');
  final chasmKeyFile = File('${fixtures.path}/certs/server-key.pem');

  _chasmContainer = DockerContainer('mridang/chasm:1.3.0')
      .withExposedPorts([4010, 8443])
      .withCopyIntoContainer(
        PathTransferable(specFile),
        '/tmp/openapi.yaml',
        0x1A4,
      )
      .withCopyIntoContainer(
        PathTransferable(chasmCertFile),
        '/certs/cert.pem',
        0x1A4,
      )
      .withCopyIntoContainer(
        PathTransferable(chasmKeyFile),
        '/certs/key.pem',
        0x1A4,
      )
      .withCommand([
        'mock', '/tmp/openapi.yaml', '--host', '0.0.0.0',
        '--tls-cert', '/certs/cert.pem',
        '--tls-key', '/certs/key.pem',
        '--tls-port', '8443',
      ])
      .withNetwork(_network)
      .withNetworkAliases(['chasm'])
      .waitingFor(
          LogMessageWaitStrategy(RegExp(r'Listening on')));

  await _chasmContainer.start();

  final chasmHost = await _chasmContainer.containerHostIp();
  final chasmPort = await _chasmContainer.exposedPort(4010);
  final chasmHttpsPort = await _chasmContainer.exposedPort(8443);
  chasmUrl = 'http://$chasmHost:$chasmPort';
  chasmHttpUrl = 'http://$chasmHost:$chasmPort';
  chasmHttpsUrl = 'https://$chasmHost:$chasmHttpsPort';
  chasmInternalHttpUrl = 'http://chasm:4010';
  chasmInternalHttpsUrl = 'https://chasm:8443';
}

Future<void> tearDownContainers() async {
  await _chasmContainer.stop();
  await _squidContainer.stop();
  await _network.remove();
}
{{/generateTests}}
