using {{packageName}}.Models;

namespace {{packageName}}.{{apiPackage}};

{{#operations}}
/// <summary>
/// {{classname}} provides methods for the {{baseName}} API group.
/// </summary>
public class {{classname}} : BaseApi
{
{{#operation}}{{#produces}}{{#-first}}    private static readonly string[] {{operationId}}Accepts = [{{/-first}}{{/produces}}{{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}}{{#produces}}{{#-first}}];
{{/-first}}{{/produces}}{{/operation}}
    public {{classname}}()
        : base() { }

    public {{classname}}(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }
    {{#operation}}

    /// <summary>
    /// {{summary}}
    /// </summary>
    {{#allParams}}
    /// <param name="{{paramName}}">{{description}}</param>
    {{/allParams}}
    {{#returnType}}
    /// <returns>{{{returnType}}}</returns>
    {{/returnType}}
    public async {{#returnType}}Task<{{{returnType}}}>{{/returnType}}{{^returnType}}Task{{/returnType}} {{operationId}}Async({{#allParams}}{{{dataType}}}{{^required}}?{{/required}} {{paramName}}{{^required}} = default{{/required}}{{^-last}}, {{/-last}}{{/allParams}})
    {
        var path = "{{{path}}}";
        {{#pathParams}}
        path = path.Replace(
            "{" + "{{baseName}}" + "}",
            Uri.EscapeDataString(ObjectSerializer.ToPathValue({{paramName}}))
        );
        {{/pathParams}}

        var queryParams = new Dictionary<string, object?>();
        {{#queryParams}}
        if ({{paramName}} != null)
        {
            queryParams["{{baseName}}"] = ObjectSerializer.ToQueryValue({{paramName}}, {{#collectionFormat}}"{{collectionFormat}}"{{/collectionFormat}}{{^collectionFormat}}null{{/collectionFormat}});
        }
        {{/queryParams}}

        var headerParams = new Dictionary<string, string>();
        {{#headerParams}}
        if ({{paramName}} != null)
        {
            headerParams["{{baseName}}"] = ObjectSerializer.ToHeaderValue({{paramName}});
        }
        {{/headerParams}}

        {{#returnType}}
        var result = await InvokeApiAsync<{{{returnType}}}>(
            "{{httpMethod}}",
            path,
            queryParams,
            headerParams,
            {{#bodyParam}}{{paramName}}{{/bodyParam}}{{^bodyParam}}null{{/bodyParam}},
{{^produces}}            Array.Empty<string>(),{{/produces}}{{#produces}}{{#-first}}            {{operationId}}Accepts,{{/-first}}{{/produces}}
            {{#consumes.0}}"{{{mediaType}}}"{{/consumes.0}}{{^consumes}}"application/json"{{/consumes}}
        );
        return result ?? throw new InvalidOperationException("Expected non-null response body");
        {{/returnType}}
        {{^returnType}}
        await InvokeApiAsync<object>(
            "{{httpMethod}}",
            path,
            queryParams,
            headerParams,
            {{#bodyParam}}{{paramName}}{{/bodyParam}}{{^bodyParam}}null{{/bodyParam}},
{{^produces}}            Array.Empty<string>(),{{/produces}}{{#produces}}{{#-first}}            {{operationId}}Accepts,{{/-first}}{{/produces}}
            {{#consumes.0}}"{{{mediaType}}}"{{/consumes.0}}{{^consumes}}"application/json"{{/consumes}}
        );
        {{/returnType}}
    }
    {{/operation}}
}
{{/operations}}
