#pragma warning disable CA1002 // Do not expose generic lists
#pragma warning disable CA1056 // URI properties should not be strings
#pragma warning disable CS1591 // Missing XML comment for publicly visible type or member

{{#hasModelImports}}
using {{packageName}}.Models;
{{/hasModelImports}}

namespace {{packageName}}.Api.Options;

/// <summary>
/// Options for the {{operationId}} operation.
/// </summary>
public sealed class {{className}}
{
{{#params}}
{{#required}}
    /// <summary>{{#description}} {{.}}{{/description}}</summary>
    public required {{{dataType}}} {{pascalParamName}} { get; init; }
{{/required}}
{{^required}}
    /// <summary>{{#description}} {{.}}{{/description}}</summary>
    public {{{dataType}}}? {{pascalParamName}} { get; init; }
{{/required}}

{{/params}}
}
