{{#hasModelImports}}
using {{packageName}}.Models;
{{/hasModelImports}}

namespace {{packageName}}.Api.Options;

/// <summary>
/// Options for the {{operationId}} operation.
/// </summary>
public sealed class {{className}}
{
{{#params}}
{{#required}}
    /// <summary>{{#description}} {{.}}{{/description}}</summary>
    public required {{{dataType}}} {{pascalParamName}} { get; init; }
{{/required}}
{{^required}}
    /// <summary>{{#description}} {{.}}{{/description}}</summary>
    public {{{dataType}}}? {{pascalParamName}} { get; init; }
{{/required}}

{{/params}}
}
