{{>api_info}}
namespace {{invokerPackage}};

/**
 * Represents an HTTP API response.
 *
 * @category Class
 * @package  {{invokerPackage}}
 */
class ApiHttpResponse
{
    /**
     * @param int                    $statusCode HTTP status code
     * @param string                 $body       Response body
     * @param array<string, string>  $headers    Response headers (unmodifiable)
     */
    public function __construct(
        public readonly int $statusCode,
        public readonly string $body,
        public readonly array $headers
    ) {
    }
}
