<?php

{{#models}}
{{#model}}
{{>partial_header}}
namespace {{modelPackage}};

{{^isEnum}}
use Symfony\Component\Serializer\Attribute\SerializedName;
{{/isEnum}}
use {{invokerPackage}}\ObjectSerializer;

{{#isEnum}}{{>model_enum}}{{/isEnum}}{{^isEnum}}{{>model_generic}}{{/isEnum}}{{/model}}{{/models}}
