class {{classname}}{{#parentSchema}} extends {{{parent}}}{{/parentSchema}}
{
    {{#vars}}
    {{#isEnum}}
    {{#allowableValues}}
    {{#enumVars}}
    public const {{enumName}}_{{{name}}} = {{{value}}};
    {{/enumVars}}
    {{/allowableValues}}
    {{/isEnum}}
    {{/vars}}
    {{#vars}}
    {{#description}}
    /**
     * {{{description}}}
    {{#isContainer}}
     * @var {{{dataType}}}|null
    {{/isContainer}}
     */
    {{/description}}
    {{^description}}
    {{#isContainer}}
    /** @var {{{dataType}}}|null */
    {{/isContainer}}
    {{/description}}
    #[SerializedName('{{{baseName}}}')]
    {{#isContainer}}
    private ?array ${{name}} = null;
    {{/isContainer}}
    {{^isContainer}}
    private ?{{{dataType}}} ${{name}} = null;
    {{/isContainer}}

    {{/vars}}
    {{#vars}}
    {{#isEnum}}
    /**
     * Gets allowable values of the enum
     *
     * @return string[]
     */
    public function {{getter}}AllowableValues(): array
    {
        return [
            {{#allowableValues}}{{#enumVars}}self::{{enumName}}_{{{name}}},{{^-last}}
            {{/-last}}{{/enumVars}}{{/allowableValues}}
        ];
    }

    {{/isEnum}}
    {{/vars}}
    /**
     * Show all the invalid properties with reasons.
     *
     * @return array invalid properties with reasons
     */
    public function listInvalidProperties(): array
    {
        {{#parentSchema}}
        $invalidProperties = parent::listInvalidProperties();
        {{/parentSchema}}
        {{^parentSchema}}
        $invalidProperties = [];
        {{/parentSchema}}

        {{#vars}}
        {{#required}}
        if ($this->{{name}} === null) {
            $invalidProperties[] = "'{{name}}' can't be null";
        }
        {{/required}}
        {{#isEnum}}
        {{^isContainer}}
        $allowedValues = $this->{{getter}}AllowableValues();
        if (!is_null($this->{{name}}) && !in_array($this->{{name}}, $allowedValues, true)) {
            $invalidProperties[] = sprintf(
                "invalid value '%s' for '{{name}}', must be one of '%s'",
                $this->{{name}},
                implode("', '", $allowedValues)
            );
        }

        {{/isContainer}}
        {{/isEnum}}
        {{#hasValidation}}
        {{#maxLength}}
        if (!is_null($this->{{name}}) && (mb_strlen($this->{{name}}) > {{maxLength}})) {
            $invalidProperties[] = "invalid value for '{{name}}', the character length must be smaller than or equal to {{{maxLength}}}.";
        }

        {{/maxLength}}
        {{#minLength}}
        if (!is_null($this->{{name}}) && (mb_strlen($this->{{name}}) < {{minLength}})) {
            $invalidProperties[] = "invalid value for '{{name}}', the character length must be bigger than or equal to {{{minLength}}}.";
        }

        {{/minLength}}
        {{#maximum}}
        if (!is_null($this->{{name}}) && ($this->{{name}} >{{#exclusiveMaximum}}={{/exclusiveMaximum}} {{maximum}})) {
            $invalidProperties[] = "invalid value for '{{name}}', must be smaller than {{^exclusiveMaximum}}or equal to {{/exclusiveMaximum}}{{maximum}}.";
        }

        {{/maximum}}
        {{#minimum}}
        if (!is_null($this->{{name}}) && ($this->{{name}} <{{#exclusiveMinimum}}={{/exclusiveMinimum}} {{minimum}})) {
            $invalidProperties[] = "invalid value for '{{name}}', must be bigger than {{^exclusiveMinimum}}or equal to {{/exclusiveMinimum}}{{minimum}}.";
        }

        {{/minimum}}
        {{#pattern}}
        if (!is_null($this->{{name}}) && !preg_match("{{{pattern}}}", $this->{{name}})) {
            $invalidProperties[] = "invalid value for '{{name}}', must conform to the pattern {{{pattern}}}.";
        }

        {{/pattern}}
        {{#maxItems}}
        if (!is_null($this->{{name}}) && (count($this->{{name}}) > {{maxItems}})) {
            $invalidProperties[] = "invalid value for '{{name}}', number of items must be less than or equal to {{{maxItems}}}.";
        }

        {{/maxItems}}
        {{#minItems}}
        if (!is_null($this->{{name}}) && (count($this->{{name}}) < {{minItems}})) {
            $invalidProperties[] = "invalid value for '{{name}}', number of items must be greater than or equal to {{{minItems}}}.";
        }

        {{/minItems}}
        {{/hasValidation}}
        {{/vars}}
        return $invalidProperties;
    }

    /**
     * Validate all the properties in the model
     * return true if all passed
     *
     * @return bool True if all properties are valid
     */
    public function valid(): bool
    {
        return count($this->listInvalidProperties()) === 0;
    }

    {{#vars}}

    /**
     * Gets {{name}}
     *
    {{#isContainer}}
     * @return {{{dataType}}}|null
    {{/isContainer}}
    {{^isContainer}}
     * @return {{{dataType}}}|null
    {{/isContainer}}
    {{#deprecated}}
     * @deprecated
    {{/deprecated}}
     */
    {{#isContainer}}
    public function {{getter}}(): ?array
    {{/isContainer}}
    {{^isContainer}}
    public function {{getter}}(): ?{{{dataType}}}
    {{/isContainer}}
    {
        return $this->{{name}};
    }

    /**
     * Sets {{name}}
     *
    {{#isContainer}}
     * @param {{{dataType}}}|null ${{name}}{{#description}} {{{.}}}{{/description}}
    {{/isContainer}}
    {{^isContainer}}
     * @param {{{dataType}}}|null ${{name}}{{#description}} {{{.}}}{{/description}}
    {{/isContainer}}
     *
     * @return self
    {{#deprecated}}
     * @deprecated
    {{/deprecated}}
     */
    {{#isContainer}}
    public function {{setter}}(?array ${{name}}): self
    {{/isContainer}}
    {{^isContainer}}
    public function {{setter}}(?{{{dataType}}} ${{name}}): self
    {{/isContainer}}
    {
        {{#isEnum}}
        {{^isContainer}}
        $allowedValues = $this->{{getter}}AllowableValues();
        if (!is_null(${{name}}) && !in_array(${{{name}}}, $allowedValues, true)) {
            throw new \InvalidArgumentException(
                sprintf(
                    "Invalid value '%s' for '{{name}}', must be one of '%s'",
                    ${{{name}}},
                    implode("', '", $allowedValues)
                )
            );
        }
        {{/isContainer}}
        {{/isEnum}}
        {{#hasValidation}}
        {{#maxLength}}
        if (!is_null(${{name}}) && (mb_strlen(${{name}}) > {{maxLength}})) {
            throw new \InvalidArgumentException('invalid length for ${{name}} when calling {{classname}}, must be smaller than or equal to {{maxLength}}.');
        }{{/maxLength}}
        {{#minLength}}
        if (!is_null(${{name}}) && (mb_strlen(${{name}}) < {{minLength}})) {
            throw new \InvalidArgumentException('invalid length for ${{name}} when calling {{classname}}, must be bigger than or equal to {{minLength}}.');
        }
        {{/minLength}}
        {{#maximum}}
        if (!is_null(${{name}}) && (${{name}} >{{#exclusiveMaximum}}={{/exclusiveMaximum}} {{maximum}})) {
            throw new \InvalidArgumentException('invalid value for ${{name}} when calling {{classname}}, must be smaller than {{^exclusiveMaximum}}or equal to {{/exclusiveMaximum}}{{maximum}}.');
        }
        {{/maximum}}
        {{#minimum}}
        if (!is_null(${{name}}) && (${{name}} <{{#exclusiveMinimum}}={{/exclusiveMinimum}} {{minimum}})) {
            throw new \InvalidArgumentException('invalid value for ${{name}} when calling {{classname}}, must be bigger than {{^exclusiveMinimum}}or equal to {{/exclusiveMinimum}}{{minimum}}.');
        }
        {{/minimum}}
        {{#pattern}}
        if (!is_null(${{name}}) && (!preg_match("{{{pattern}}}", ObjectSerializer::toString(${{name}})))) {
            throw new \InvalidArgumentException("invalid value for \${{name}} when calling {{classname}}, must conform to the pattern {{{pattern}}}.");
        }
        {{/pattern}}
        {{#maxItems}}
        if (!is_null(${{name}}) && (count(${{name}}) > {{maxItems}})) {
            throw new \InvalidArgumentException('invalid value for ${{name}} when calling {{classname}}, number of items must be less than or equal to {{maxItems}}.');
        }{{/maxItems}}
        {{#minItems}}
        if (!is_null(${{name}}) && (count(${{name}}) < {{minItems}})) {
            throw new \InvalidArgumentException('invalid length for ${{name}} when calling {{classname}}, number of items must be greater than or equal to {{minItems}}.');
        }
        {{/minItems}}
        {{/hasValidation}}
        $this->{{name}} = ${{name}};

        return $this;
    }
    {{/vars}}

    /**
     * Gets the string presentation of the object
     *
     * @return string
     */
    public function __toString(): string
    {
        return json_encode(
            ObjectSerializer::sanitizeForSerialization($this),
            JSON_PRETTY_PRINT
        );
    }

    /**
     * Gets a header-safe presentation of the object
     *
     * @return string
     */
    public function toHeaderValue(): string
    {
        return json_encode(ObjectSerializer::sanitizeForSerialization($this));
    }
}