parameters:
  level: 9
  treatPhpDocTypesAsCertain: false
  paths:
    - .
  excludePaths:
    - vendor
  ignoreErrors:
    - identifier: method.alreadyNarrowedType
      path: tests/
    - identifier: argument.type
      path: tests/
