# frozen_string_literal: true

# rubocop:disable Metrics/BlockLength, Lint/MissingCopEnableDirective

require 'test_helper'
require '{{gemName}}/trace_context_util'

describe {{moduleName}}::TraceContextUtil do
  describe '.inject_trace_context' do
    it 'injects traceparent when OpenTelemetry is available' do
      mock_propagation = Object.new
      mock_propagation.define_singleton_method(:inject) do |headers|
        headers['traceparent'] = '00-abcdef1234567890abcdef1234567890-0123456789abcdef-01'
      end

      stub_otel = Module.new do
        define_method(:propagation) { mock_propagation }
        module_function :propagation
      end

      Object.const_set(:OpenTelemetry, stub_otel)
      begin
        {{moduleName}}::TraceContextUtil.stub(:require, true) do
          headers = {}
          {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
          _(headers).must_include('traceparent')
          _(headers['traceparent']).must_equal('00-abcdef1234567890abcdef1234567890-0123456789abcdef-01')
        end
      ensure
        Object.send(:remove_const, :OpenTelemetry)
      end
    end

    it 'does not inject traceparent when OpenTelemetry is not installed' do
      headers = {}
      {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
      _(headers).wont_include('traceparent')
    end

    it 'does not raise any exception' do
      headers = {}
      {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
    end

    it 'empty headers do not cause exception' do
      headers = {}
      {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
      _(headers.size).must_equal(0)
    end

    it 'does not inject tracestate without OpenTelemetry' do
      headers = {}
      {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
      _(headers).wont_include('tracestate')
    end

    it 'preserves existing Authorization header' do
      headers = { 'Authorization' => 'Bearer token123' }
      {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
      _(headers['Authorization']).must_equal('Bearer token123')
    end

    it 'preserves existing Content-Type header' do
      headers = { 'Content-Type' => 'application/json' }
      {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
      _(headers['Content-Type']).must_equal('application/json')
    end

    it 'preserves existing X-Request-ID header' do
      headers = { 'X-Request-ID' => 'req-12345' }
      {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
      _(headers['X-Request-ID']).must_equal('req-12345')
    end

    it 'preserves all existing headers together' do
      headers = {
        'Authorization' => 'Bearer token',
        'Content-Type' => 'application/json',
        'X-Request-ID' => 'abc-123'
      }
      {{moduleName}}::TraceContextUtil.inject_trace_context(headers)
      _(headers.size).must_equal(3)
      _(headers['Authorization']).must_equal('Bearer token')
      _(headers['Content-Type']).must_equal('application/json')
      _(headers['X-Request-ID']).must_equal('abc-123')
    end
  end
end
