package {{package}};

import {{invokerPackage}}.ApiClient;
import {{invokerPackage}}.ApiException;
import {{invokerPackage}}.Configuration;
import {{invokerPackage}}.ObjectSerializer;
{{#models.0}}
import {{modelPackage}}.*;
{{/models.0}}
{{#imports}}import {{import}};
{{/imports}}
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

{{#operations}}
/**
 * {{classname}} provides methods for the {{baseName}} API group.
{{#description}}
 * {{.}}
{{/description}}
 */
public class {{classname}} extends BaseApi {

    public {{classname}}() {
        super();
    }

    public {{classname}}(ApiClient apiClient, Configuration config) {
        super(apiClient, config);
    }
    {{#operation}}

    /**
     * {{summary}}
{{#notes}}
     * {{.}}
{{/notes}}
{{#allParams}}
     * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}{{/isContainer}}){{/required}}
{{/allParams}}
{{#returnType}}
     * @return {{returnType}}
{{/returnType}}
     * @throws ApiException if fails to make API call
{{#isDeprecated}}
     * @deprecated
{{/isDeprecated}}
{{#externalDocs}}
     * {{description}}
     * @see <a href="{{url}}">{{summary}} Documentation</a>
{{/externalDocs}}
     */
{{#isDeprecated}}
    @Deprecated
{{/isDeprecated}}
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) throws ApiException {
{{#allParams}}
{{#required}}
        if ({{paramName}} == null) {
            throw new IllegalArgumentException(
                    "Missing the required parameter '{{paramName}}' when calling {{operationId}}");
        }
{{/required}}
{{/allParams}}
        String path{{^pathParams}} = "{{{path}}}";{{/pathParams}}{{#pathParams}}{{#-first}} =
                "{{{path}}}"{{/-first}}
                        .replace(
                                "{" + "{{baseName}}" + "}",
                                encode(ObjectSerializer.toPathValue({{{paramName}}}))){{/pathParams}}{{#pathParams}}{{#-last}};{{/-last}}{{/pathParams}}

        Map<String, Object> queryParams = new HashMap<>();
{{#queryParams}}
        if ({{paramName}} != null) {
            queryParams.put("{{baseName}}", ObjectSerializer.toQueryValue({{paramName}}{{#collectionFormat}}, "{{collectionFormat}}"{{/collectionFormat}}));
        }
{{/queryParams}}

        Map<String, String> headerParams = new HashMap<>();
{{#headerParams}}
        if ({{paramName}} != null) {
            headerParams.put(
                    "{{baseName}}", ObjectSerializer.toHeaderValue({{paramName}}));
        }
{{/headerParams}}

{{#hasFormParams}}
        Map<String, Object> formBody = new HashMap<>();
{{#formParams}}
        if ({{paramName}} != null) {
            formBody.put(
                    "{{baseName}}", ObjectSerializer.toFormValue({{paramName}}));
        }
{{/formParams}}

{{/hasFormParams}}
        {{#returnType}}return {{/returnType}}invokeApi(
                "{{httpMethod}}",
                path,
                queryParams,
                headerParams,
                {{#hasFormParams}}formBody{{/hasFormParams}}{{^hasFormParams}}{{#bodyParam}}{{paramName}}{{/bodyParam}}{{^bodyParam}}null{{/bodyParam}}{{/hasFormParams}},
                new String[] { {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}}},
                {{#consumes.0}}"{{{mediaType}}}"{{/consumes.0}}{{^consumes}}"application/json"{{/consumes}},
                {{#returnType}}new TypeReference<{{{returnType}}}>() {}{{/returnType}}{{^returnType}}null{{/returnType}});
    }
    {{/operation}}
}
{{/operations}}
