{{>api_info}}

from __future__ import annotations

{{#imports}}
{{{.}}}
{{/imports}}
{{#hasAuthField}}
{{authImport}}
{{/hasAuthField}}


@dataclass(frozen=True)
class {{className}}:
    """Options for the {{operationId}} operation."""

{{#requiredParams}}
    {{paramName}}: {{dataType}}
{{/requiredParams}}
{{#optionalParams}}
    {{paramName}}: Optional[{{dataType}}] = None
{{/optionalParams}}
{{#hasAuthField}}
    auth: Optional[{{authFieldType}}] = None
{{/hasAuthField}}
