namespace {{packageName}}.Exceptions;

/// <summary>
/// Exception for HTTP 500 Internal Server Error.
/// </summary>
public class InternalServerErrorException : ServerException
{
    public InternalServerErrorException()
        : this("Internal Server Error") { }

    public InternalServerErrorException(string message)
        : this(message, null, null, null) { }

    public InternalServerErrorException(string message, Exception innerException)
        : base(message, innerException) { }

    public InternalServerErrorException(
        string message,
        Dictionary<string, string>? responseHeaders = null,
        string? responseBody = null,
        object? errorBody = null
    )
        : base(500, message, responseHeaders, responseBody, errorBody) { }
}
