{{>api_info}}

package {{invokerPackage}}.exceptions

import {{invokerPackage}}.ApiException

/**
 * Exception for HTTP 5xx server errors.
 */
open class ServerException(
    code: Int,
    message: String,
    responseHeaders: Map<String, String>?,
    responseBody: String?,
    errorBody: Any? = null
) : ApiException(code, message, responseHeaders, responseBody, errorBody)
