// swift-tools-version: 6.0
// SPDX-License-Identifier: MIT

import PackageDescription

let package = Package(
    name: "{{packageName}}",
    platforms: [
        .macOS(.v14)
    ],
    products: [
        .library(
            name: "{{packageName}}",
            targets: ["{{packageName}}"]
        )
    ],
    dependencies: [
        .package(url: "https://github.com/mridang/testcontainers-swift", from: "1.0.5")
    ],
    targets: [
        .target(
            name: "{{packageName}}",
            path: "Sources",
            swiftSettings: [
                .unsafeFlags(["-warnings-as-errors"], .when(configuration: .debug))
            ]
        ),
        .testTarget(
            name: "{{packageName}}Tests",
            dependencies: [
                "{{packageName}}",
                .product(name: "TestcontainersCore", package: "testcontainers-swift")
            ],
            path: "Tests",
            exclude: ["Fixtures", "Spec"]
        )
    ],
    swiftLanguageModes: [.v6]
)
