[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["B006", "B008", "RUF012"]

[tool.ruff.format]
quote-style = "single"

[tool.mypy]
strict = true

[tool.pytest.ini_options]
addopts = "--cov=petstore_client --cov-report=xml:.out/coverage.xml --cov-report=term-missing"
