package {{package}}

{{#hasModelImports}}
{{#modelImports}}
import {{modelPackage}}.{{{.}}}
{{/modelImports}}
{{/hasModelImports}}
{{#hasAuthField}}
import {{authImport}}
{{/hasAuthField}}

/**
 * Options for the {{operationId}} operation.
 */
class {{className}}(
{{#requiredParams}}
    val {{paramName}}: {{{dataType}}},
{{/requiredParams}}
{{#optionalParams}}
    val {{paramName}}: {{{dataType}}}? = null,
{{/optionalParams}}
{{#hasAuthField}}
    val auth: {{authFieldType}}? = null,
{{/hasAuthField}}
)
