{{>api_info}}

use std::fmt;

use crate::api_error::ApiError;

/// ServerError represents an HTTP 5xx server error.
#[derive(Debug, Clone)]
pub struct ServerError {
    pub api_error: ApiError,
}

impl fmt::Display for ServerError {
    fn fmt(&self, f: &mut fmt::Formatter<'_>) -> fmt::Result {
        write!(f, "Server error ({}): {}", self.api_error.status_code, self.api_error.message)
    }
}

impl std::error::Error for ServerError {
    fn source(&self) -> Option<&(dyn std::error::Error + 'static)> {
        Some(&self.api_error)
    }
}

impl From<ApiError> for ServerError {
    fn from(api_error: ApiError) -> Self {
        Self { api_error }
    }
}
