# frozen_string_literal: true

module {{moduleName}}
  module Auth
    module OAuth
      # Authenticator for OAuth2 client credentials flow.
      class OAuth2ClientCredentialsAuthenticator < Authenticator
        attr_reader :host

        def initialize(host, client_id, client_secret, token_url, scopes)
          super()
          @host = host
          @client_id = client_id
          @client_secret = client_secret
          @token_url = token_url
          @scopes = scopes.freeze
          @token_manager = OAuth2TokenManager.new
        end

        def auth_headers
          params = {
            'grant_type' => 'client_credentials',
            'client_id' => @client_id,
            'client_secret' => @client_secret
          }
          params['scope'] = @scopes.join(' ') unless @scopes.empty?
          token = @token_manager.get_access_token(@token_url, params)
          { 'Authorization' => "Bearer #{token}" }
        end
      end
    end
  end
end
