#pragma warning disable CA1002 // Do not expose generic lists
#pragma warning disable CA1056 // URI-like properties should not be strings
#pragma warning disable CA1711 // Identifiers should not have incorrect suffix
#pragma warning disable CA1819 // Properties should not return arrays
#pragma warning disable CA2227 // Collection properties should be read only

{{#models}}
{{#model}}
{{#isEnum}}
using System.Text.Json.Serialization;

namespace {{packageName}}.Models;

{{#description}}
/// <summary>
/// {{{.}}}
/// </summary>
{{/description}}
[JsonConverter(typeof(JsonStringEnumConverter))]
public enum {{classname}}
{
    {{#allowableValues}}
    {{#enumVars}}
    [JsonStringEnumMemberName("{{{value}}}")]
    {{name}},
{{^-last}}

{{/-last}}
    {{/enumVars}}
    {{/allowableValues}}
}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}
{{#-first}}
{{#discriminator}}
using System.Text.Json.Serialization;

{{/discriminator}}
namespace {{packageName}}.Models;

{{#description}}
/// <summary>
/// {{{.}}}
/// </summary>
{{/description}}
{{#discriminator}}
[JsonPolymorphic(TypeDiscriminatorPropertyName = "{{discriminator.propertyBaseName}}")]
{{#mappedModels}}
[JsonDerivedType(typeof({{modelName}}), "{{mappingName}}")]
{{/mappedModels}}
public abstract class {{classname}} { }
{{/discriminator}}
{{^discriminator}}
public class {{classname}}(object value)
{
    public object? ActualInstance { get; set; } = value;
}
{{/discriminator}}
{{/-first}}
{{/oneOf}}
{{^oneOf}}
{{#anyOf}}
{{#-first}}
namespace {{packageName}}.Models;

{{#description}}
/// <summary>
/// {{{.}}}
/// </summary>
{{/description}}
public class {{classname}}
{
    public object? ActualInstance { get; set; }

    public {{classname}}(object value)
    {
        ActualInstance = value;
    }
}
{{/-first}}
{{/anyOf}}
{{^anyOf}}
using System.Text.Json.Serialization;

namespace {{packageName}}.Models;

{{#description}}
/// <summary>
/// {{{.}}}
/// </summary>
{{/description}}
{{#hasRequired}}
public class {{classname}}({{#requiredVars}}{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}} {{name}}{{^-last}}, {{/-last}}{{/requiredVars}}){{#parent}} : {{{.}}}{{/parent}}
{
    {{#vars}}
    {{#isEnum}}
    [JsonConverter(typeof(JsonStringEnumConverter))]
    public enum {{enumName}}
    {
        {{#allowableValues}}
        {{#enumVars}}
        [JsonStringEnumMemberName("{{{value}}}")]
        {{name}},
{{^-last}}

{{/-last}}
        {{/enumVars}}
        {{/allowableValues}}
    }

    {{/isEnum}}
    {{/vars}}
    {{#vars}}
    {{#description}}
    /// <summary>
    /// {{{.}}}
    /// </summary>
    {{/description}}
    [JsonPropertyName("{{baseName}}")]
    public {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{^required}}?{{/required}} {{name}} { get; set; }{{#required}} = {{name}};{{/required}}{{^required}}{{#defaultValue}} = {{{.}}};{{/defaultValue}}{{/required}}
{{^-last}}

{{/-last}}
    {{/vars}}
}
{{/hasRequired}}
{{^hasRequired}}
public class {{classname}}{{#parent}} : {{{.}}}{{/parent}}
{
    {{#vars}}
    {{#isEnum}}
    [JsonConverter(typeof(JsonStringEnumConverter))]
    public enum {{enumName}}
    {
        {{#allowableValues}}
        {{#enumVars}}
        [JsonStringEnumMemberName("{{{value}}}")]
        {{name}},
{{^-last}}

{{/-last}}
        {{/enumVars}}
        {{/allowableValues}}
    }

    {{/isEnum}}
    {{/vars}}
    {{#vars}}
    {{#description}}
    /// <summary>
    /// {{{.}}}
    /// </summary>
    {{/description}}
    [JsonPropertyName("{{baseName}}")]
    public {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{^required}}?{{/required}} {{name}} { get; set; }{{#defaultValue}} = {{{.}}};{{/defaultValue}}
{{^-last}}

{{/-last}}
    {{/vars}}
}
{{/hasRequired}}
{{/anyOf}}
{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
