{{>api_info}}

from typing import Any, Optional

from {{packageName}}.exceptions.client_exception import ClientException


class UnauthorizedException(ClientException):
    """Exception for HTTP 401 Unauthorized."""

    def __init__(
        self,
        message: Optional[str] = None,
        response_headers: Optional[Any] = None,
        response_body: Optional[str] = None,
        error_body: Optional[Any] = None,
    ) -> None:
        super().__init__(code=401, message=message, response_headers=response_headers, response_body=response_body, error_body=error_body)
