module {{moduleName}}
  module Api
{{#operations}}
    class {{classname}} < BaseApi
      def initialize: (?::{{moduleName}}::ApiClient? api_client, ?::{{moduleName}}::Configuration config) -> void
{{#operation}}
      def {{operationId}}: ({{#requiredParams}}{{{vendorExtensions.x-rbs-type}}} {{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#hasOptionalParams}}{{#hasRequiredParams}}, {{/hasRequiredParams}}?Hash[Symbol, untyped] opts{{/hasOptionalParams}}) -> untyped
{{/operation}}
    end
{{/operations}}
  end
end
