module {{moduleName}}
  module Api
{{#operations}}
{{#serverTypeDefs}}
    class {{serverTypeName}}
      def url: () -> String
    end
{{#variants}}
{{#serverVariables}}{{#hasEnumValues}}
    module {{serverTypeName}}{{pascalName}}
{{#enumValues}}
      {{name}}: String
{{/enumValues}}
    end
{{/hasEnumValues}}{{/serverVariables}}
{{/variants}}
{{#variants}}
    class {{serverTypeName}}{{variantName}} < {{serverTypeName}}
{{#hasVariables}}
      def initialize: ({{#serverVariables}}{{snakeName}}: String{{^-last}}, {{/-last}}{{/serverVariables}}) -> void
{{/hasVariables}}
      def url: () -> String
    end
{{/variants}}
{{/serverTypeDefs}}
    class {{classname}} < BaseApi
      def initialize: (?::{{moduleName}}::ApiClient? api_client, ?::{{moduleName}}::Configuration config, ?::{{moduleName}}::Auth::Authenticator? authenticator) -> void
{{#operation}}
      def {{operationId}}: ({{#vendorExtensions.op.signatureArgsNoServer}}{{^-first}}, {{/-first}}{{#isPath}}{{#lambda.rbsApiType}}{{{dataType}}}{{/lambda.rbsApiType}} {{paramName}}{{/isPath}}{{#isBody}}{{#lambda.rbsApiType}}{{{dataType}}}{{/lambda.rbsApiType}}{{#nullable}}?{{/nullable}} {{paramName}}{{/isBody}}{{#isOptions}}{{#nullable}}?Options::{{{dataType}}}? options{{/nullable}}{{^nullable}}Options::{{{dataType}}} options{{/nullable}}{{/isOptions}}{{/vendorExtensions.op.signatureArgsNoServer}}{{#servers}}{{#-first}}, ?server: {{vendorExtensions.op.serverClassName}}?{{/-first}}{{/servers}}) -> {{#returnType}}{{#lambda.rbsApiType}}{{{returnType}}}{{/lambda.rbsApiType}}{{/returnType}}{{^returnType}}void{{/returnType}}
      def {{operationId}}_with_http_info: ({{#vendorExtensions.op.signatureArgsNoServer}}{{^-first}}, {{/-first}}{{#isPath}}{{#lambda.rbsApiType}}{{{dataType}}}{{/lambda.rbsApiType}} {{paramName}}{{/isPath}}{{#isBody}}{{#lambda.rbsApiType}}{{{dataType}}}{{/lambda.rbsApiType}}{{#nullable}}?{{/nullable}} {{paramName}}{{/isBody}}{{#isOptions}}{{#nullable}}?Options::{{{dataType}}}? options{{/nullable}}{{^nullable}}Options::{{{dataType}}} options{{/nullable}}{{/isOptions}}{{/vendorExtensions.op.signatureArgsNoServer}}{{#servers}}{{#-first}}, ?server: {{vendorExtensions.op.serverClassName}}?{{/-first}}{{/servers}}) -> ::{{moduleName}}::ApiResult[{{#returnType}}{{#lambda.rbsApiType}}{{{returnType}}}{{/lambda.rbsApiType}}{{/returnType}}{{^returnType}}nil{{/returnType}}]
{{/operation}}
    end
{{/operations}}
  end
end
