# frozen_string_literal: true

{{>api_info}}

module {{moduleName}}
  module Api
    # Valid values for {{name}} in {{serverTypeName}}.
    module {{serverTypeName}}{{pascalName}}
{{#enumValues}}
      {{name}} = '{{value}}'
{{/enumValues}}
    end
  end
end
